.redRect-100{
    width: 100px;
    height: 100px;
    position: relative;
    background: red;
    border: 1px solid black;
}

/* 容器 */
#code-example-cube{
    width: 200px;
    height: 200px;
    position: relative;
    perspective: none;
    /* 指定变换方式为 3D */
    transform-style: preserve-3d;
    transform:rotateX(-30deg) rotateY(30deg);
}
/* 确定六个面的大小和样式 */
#code-example-cube div{
    width: 200px;
    height: 200px;
    border: 10px solid rgba(255,0,0,0.8);
    background: rgba(255,0,0,0.3);
    position: absolute;
}
/* 移动和旋转每个面组成一个正方体 */
#code-example-cube-left{
    transform: translateX(-100px) rotateY(90deg);
}
#code-example-cube-Right{
     transform: translateX(100px) rotateY(-90deg);
}
#code-example-cube-top{
    transform: translateY(-100px) rotateX(90deg);
}
#code-example-cube-bottom{
    transform: translateY(100px) rotateX(-90deg);
}
#code-example-cube-front{
    transform: translateZ(100px);
}
#code-example-cube-back{
    transform: translateZ(-100px);
}