.redRect-100{
    width: 100px;
    height: 100px;
    position: relative;
    background: red;
    border: 1px solid black;
    transform-style: preserve-3d;
}

/***********************************************/
/* Create cube animation */
.cube-temple{
    width: 200px;
    height: 200px;
    animation: cube-temple 20s ease both 2s infinite;
    transform-style: preserve-3d;
}
@keyframes cube-temple {
    0%{
        transform:rotateX(0) rotateY(0) rotateZ(0);
    }
    60%{
        transform:rotateX(20deg) rotateY(20deg) rotateZ(20deg);
    }
    65%{
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    80%{
        transform:rotateX(80deg) rotateY(70deg) rotateZ(100deg);
    }
    90%{
        transform:rotateX(-360deg) rotateY(360deg) rotateZ(-360deg);
    }
    95%{
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100%{
        transform:rotateX(0) rotateY(0) rotateZ(0);
    }
}

.cube-temple div{
    width: 200px;
    height: 200px;
    position: absolute;
    background: rgba(255, 0, 0, 0.1);
    border: 2px solid black;
}

/* Each side of cube's transform animation */
.cube-temple-left{
    animation: cube-temple-left 20s ease both 2s infinite;
}
@keyframes cube-temple-left {
    0%{
        transform: translateX(0) rotateY(0);
    }
    5%{
        transform:translateX(-101px) rotateY(0);
    }
    10%{
        transform:translateX(-101px) rotateY(90deg);
    }
    95%{
        transform:translateX(-101px) rotateY(90deg);
    }
    100%{
        transform: translateX(0) rotateY(0);
    }
}
.cube-temple-right{
    animation: cube-temple-right 20s ease both 2s infinite;
}
@keyframes cube-temple-right {
    0%{
        transform:translateX(0) rotateY(0);
    }
    10%{
        transform:translateX(0) rotateY(0);
    }
    15%{
        transform:translateX(101px) rotateY(0);
    }
    20%{
        transform:translateX(101px) rotateY(-90deg);
    }
    95%{
        transform:translateX(101px) rotateY(-90deg);
    }
    100%{
        transform: translateX(0) rotateY(0);
    }
}
.cube-temple-top{
    animation: cube-temple-top 20s ease both 2s infinite;
}
@keyframes cube-temple-top {
    0%{
        transform:translateX(0) rotateY(0);
    }
    20%{
        transform:translateX(0) rotateY(0);
    }
    25%{
        transform:translateY(-101px) rotateX(0);
    }
    30%{
        transform:translateY(-101px) rotateX(90deg);
    }
    95%{
        transform:translateY(-101px) rotateX(90deg);
    }
    100%{
        transform: translateX(0) rotateY(0);
    }
}
.cube-temple-bottom{
    animation: cube-temple-bottom 20s ease both 2s infinite;
}
@keyframes cube-temple-bottom {
    0%{
        transform:translateX(0) rotateY(0);
    }
    30%{
        transform:translateX(0) rotateY(0);
    }
    35%{
        transform:translateY(101px) rotateX(0);
    }
    40%{
        transform:translateY(101px) rotateX(-90deg);
    }
    95%{
        transform:translateY(101px) rotateX(-90deg);
    }
    100%{
        transform: translateX(0) rotateY(0);
    }
}
.cube-temple-front{
    animation: cube-temple-front 20s ease both 2s infinite;
}
@keyframes cube-temple-front {
    0%{
        transform:translateX(0);
    }
    40%{
        transform:translateX(0);
    }
    50%{
        transform:translateZ(101px);
    }
    95%{
        transform:translateZ(101px);
    }
    100%{
        transform: translateX(0);
    }
}
.cube-temple-back{
    animation: cube-temple-back 20s ease both 2s infinite;
}
@keyframes cube-temple-back {
    0%{
        transform:translateX(0);
    }
    50%{
        transform:translateX(0);
    }
    60%{
        transform:translateZ(-101px);
    }
    95%{
        transform:translateZ(-101px);
    }
    100%{
        transform: translateX(0);
    }
}
/***********************************************/

/*********************************************/
/* 容器 */
#code-example-cube{
    width: 200px;
    height: 200px;
    position: relative;
    perspective: none;
    /* 指定变换方式为 3D */
    transform-style: preserve-3d;
    transform:rotateX(-30deg) rotateY(30deg);
}
/* 确定六个面的大小和样式 */
#code-example-cube div{
    width: 200px;
    height: 200px;
    border: 10px solid rgba(255,0,0,0.8);
    background: rgba(255,0,0,0.3);
    position: absolute;
}
/* 移动和旋转每个面组成一个正方体 */
#code-example-cube-left{
    transform: translateX(-100px) rotateY(90deg);
}
#code-example-cube-Right{
     transform: translateX(100px) rotateY(-90deg);
}
#code-example-cube-top{
    transform: translateY(-100px) rotateX(90deg);
}
#code-example-cube-bottom{
    transform: translateY(100px) rotateX(-90deg);
}
#code-example-cube-front{
    transform: translateZ(100px);
}
#code-example-cube-back{
    transform: translateZ(-100px);
}
/*********************************************/

#house-container{
    width: 200px;
    height: 200px;
    position: relative;
    perspective: none;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateX(-20deg) rotateY(10deg);
}

#rect-example{
    width: 200px;
    height: 200px;
    transform: rotateY(30deg);
    background: #FF5C5C;
}